table table-striped{
    align-items: center;
}
.btn{
    color: white;
    font-size: 14px;
    background-color: cornflowerblue;
    border-radius: 0px;
   
    }
.btn:hover{
    background-color: green;
    }
    table {
        width: 100%;
      }
  
      .mat-mdc-form-field {
        font-size: 14px;
        width: 100%;
      }
      
      td, th {
        width: 15%;
      }
      .btnn{
        text-align: left;
  
      }
    
      