.product-card {
    max-width: 80%;
    margin-top: 15px;
}

h1 {
    font-size: 40px;
    line-height: 40px;
    margin-top: 16px;
}
p {
    width: 400px;
}

mat-card-title {
    font-size: 30px !important;
    margin-left: -16px;
}

.card{
    width: 50%;
    background-color: transparent;
    margin-left: 20%;
 }

 @media (max-width: 850px) {
    .card{
        width: 100%;
        background-color: transparent;
        margin-left: 10%;
     }
 }