<div class="pattern-dots-md top-dots">
  <h1>Deliveries</h1>
</div>
<h2>Our Products</h2>
<mat-card class="product-card" *ngFor="let prod of productionProds">
  <mat-card-header>
    <mat-card-title [style.font-family]="prod.font ? prod.font : 'inherit'">
     <p> {{prod.name}}</p>
    </mat-card-title>
    <!-- <mat-card-subtitle>
      <mat-chip-list>
        <mat-chip>
          {{prod.license}}
        </mat-chip>
      </mat-chip-list>
    </mat-card-subtitle> -->
  </mat-card-header>
  <mat-card-content>
   <p> {{prod.desc}}</p>
  </mat-card-content>
  <mat-card-actions>
    <a  >
      Product Link : 
    </a>
    <a style="color: blue;  text-decoration: underline;" target="_blank" [attr.href]="'//' + prod.prodURL">
      {{prod.prodURL}}
    </a>
  </mat-card-actions>
</mat-card>
<h2>Happy Customers</h2>
<mat-card class="product-card" *ngFor="let prod of devProds">
  <mat-card-header>
    <mat-card-title [style.font-family]="prod.font ? prod.font : 'inherit'">
   <p>   {{prod.name}} </p>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
   <p > {{prod.desc}} </p>
  </mat-card-content>
  <mat-card-actions>
    <a >
      Product Link :
    </a>
    <a style="color: blue;  text-decoration: underline;" target="_blank" [attr.href]="'//' + prod.prodURL">
      {{prod.prodURL}}
    </a>
  </mat-card-actions>
</mat-card>