<h1 mat-dialog-title>Welcome Techlmaginia</h1>
<div mat-dialog-content style="align-items: center;">
  <mat-form-field appearance="fill">
    <mat-label>user name</mat-label>
    <input matInput [(ngModel)]="userName">
  </mat-form-field>
  <p></p>
  <mat-form-field appearance="fill">
    <mat-label>password</mat-label>
    <input matInput [(ngModel)]="password">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <!-- <a mat-button (click)="onNoClick()">forgot passWord</a> -->
  <button mat-button [mat-dialog-close]="data.userName" cdkFocusInitial style="margin-left: 70%;"
  (click)="loginAndRedirect()">login</button>
  
</div>
