
<div class="pattern-dots-md top-dots">
   
    <app-image-slider style="height: 20%;width: 100%; margin-left: 5% ;margin-top:5%; margin-right: auto"></app-image-slider>

</div>

<p>We are a small software development group focussed into Internet Of Things,Artificial Intelligence,Machine Learning,website building.</p><br>
   

    <p>We work with cutting edge technology and also provide services to our clients .</p>

    <p>We are strong advocates for open-source software. Because of this, all of our products are hosted publicly, open-source, and with developer friendly licenses.
</p>