
btn {
    background-color: blue;
}
.con{
    width: 100%;
    height: 100%;
    }
    .form-group{
        width: 100%;
        height: 100%;    
    }
    .btn{
        color: white;
        font-size: 14px;
        background-color: cornflowerblue;
        border-radius: 0px;
        }
    .btn:hover{
        background-color: green;
        }
.card{
   width: 50%;
   margin-left: 20%;
}

@media (max-width: 850px) {
    .card{
        width: 80%;
        background-color: white;
        margin-left: 10%;
     }
 }